@import "tailwindcss";
body {
  color: white;
  font-family: "Barlow", sans-serif;
  background-color: black;
}

button {
  padding: 1rem;
  background-color: white;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Bellefair", serif;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 79px,
    rgba(255, 255, 255, 0.06) 80px
  );
  pointer-events: none;
}
